{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Listagem de Tomadores</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'dashboard:dashboard' %}">Home</a>
            </li>
            <li class="active">
                <strong>Tomadores</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listagem de Tomadores</h5>

                    <div class="ibox-tools">
                        <a class="collapse-link" href="{% url 'tomadores:novo_tomador' %}">
                            <strong><i class="fa fa-plus"></i> Tomador</strong>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tomador in tomadores %}
                                    <tr class="gradeX">
                                        <td class="col-lg-10">{{ tomador.nome }}</td>
                                        <td class="col-lg-2 center">
                                            <center>
                                                <a href="{% url 'tomadores:editar_tomador' pk=tomador.pk %}"><i class="fa fa-wrench"></i></a>
                                            </center>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            {% if tomadores.count >= 3 %}
                            <tfoot>
                                <tr>
                                    <th>Nome</th>
                                    <th>Editar</th>
                                </tr>
                            </tfoot>
                            {% endif %}
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}