{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Editar Usuário</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Usuários</a>
            </li>
            <li class="active">
                <strong>Editar Usuário</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Usuário</h5>
                </div>
                <div class="ibox-content">
                    <form method="POST" class="form-horizontal", enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ field.label }}</label>
                                <div class="col-sm-10">{{ field }}</div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {% if field.name == 'photo' and form.instance.photo %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Foto Atual</label>
                                    <div class="col-sm-10"><a href="{{form.instance.photo.url}}">{{ form.instance.photo }}</a></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-sm-7 col-sm-offset-9">
                                <button class="btn btn-white" onclick="goBack()">Cancel</button>
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}