{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row border-bottom white-bg dashboard-header">
        <div class="col-sm-4">
            <h2>Bem vindo {{ request.user.name }}</h2>
            <small>Projeto</i></small>
        </div>
    </div>

{% endblock %}