{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Login</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Login</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form method="POST" class="form-horizontal", enctype="multipart/form-data">
                        {% csrf_token %}
                        Username: <input type="text" name="username" id="username" class="form-control" style="width:200px">
                        Senha: <input type="password" name="password" class="form-control" style="width:200px">
                        <br>
                        <input type="submit" value="Logar" class="btn btn-primary">
                        {{ form.errors }}
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}