{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Listagem de Funcionários</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'dashboard:dashboard' %}">Home</a>
            </li>
            <li class="active">
                <strong>Funcionários</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listagem de Funcionários</h5>

                    <div class="ibox-tools">
                        <a class="collapse-link" href="{% url 'funcionarios:novo_funcionario' %}">
                            <strong><i class="fa fa-plus"></i> Funcionário</strong>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Data de Admissão</th>
                                    <th>Sexo</th>
                                    <th>Email</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for funcionario in funcionarios %}
                                    <tr class="gradeX">
                                        <td class="col-lg-3">{{ funcionario.nome }}</td>
                                        <td class="col-lg-3">{{ funcionario.data_admissao|date:"SHORT_DATE_FORMAT" }}</td>
                                        <td class="col-lg-3">{{ funcionario.get_sexo_display }}</td>
                                        <td class="col-lg-3">{{ funcionario.email }}</td>
                                        <td class="col-lg-1 center">
                                            <center>
                                                <a href="{% url 'funcionarios:editar_funcionario' pk=funcionario.pk %}"><i class="fa fa-wrench"></i></a>
                                            </center>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nome</th>
                                    <th>Data de Admissão</th>
                                    <th>Sexo</th>
                                    <th>Email</th>
                                    <th>Editar</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}