{% load staticfiles %}        
{% if request.user.is_authenticated %}
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> 
                        <!-- <span style="max-width:100px;">
                            {% if request.user.photo %}
                                <img alt="image" class="img-circle" src="{{ request.user.photo.url }}" style="max-width:55px;" />
                            {% else %}
                                <img alt="image" class="img-circle" src="{% static 'img/default_user.jpg' %}" />
                            {% endif %}
                         </span> -->
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ request.user.first_name|title }}</strong>
                         </span> <span class="text-muted text-xs block"> Configurações <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="">Meus Dados</a></li>
                            <li class="divider"></li>
                            <li><a href="">Alterar Senha</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout/">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        <i class="fa fa-cogs"></i>
                    </div>
                </li>
                <li>
                    <a href="{% url 'funcionarios:lista_funcionarios' %}"><i class="fa fa-home"></i> <span class="nav-label">Funcionário</span></a>
                </li>
                <li>
                    <a href="{% url 'tomadores:lista_tomadores' %}"><i class="fa fa-plus"></i> <span class="nav-label">Tomadores</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Clínica</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="">Nova Cliníca</a></li>
                        <li><a href="">Listagem</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-group"></i> <span class="nav-label">Pacientes</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="">Novo Paciente</a></li>
                        <li><a href="">Listagem</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
{% endif %}