{% load staticfiles %}  

<ul class="nav navbar-top-links navbar-right">
    <li>
        <span class="m-r-sm text-muted welcome-message">Bem vindo!</span>
    </li>
    <li>
        <a href="{% url 'logout' %}">
            <i class="fa fa-sign-out"></i> Log out
        </a>
    </li>
</ul>