<!DOCTYPE html>
{% load staticfiles %}
<html>

{% include 'dashboard/includes/header.html' %}

<body>
    <div id="wrapper">
    	<main id="content">
        	{% include 'dashboard/includes/menu.html' %}
        	<div id="page-wrapper" class="gray-bg dashbard-1">
	            {% if request.user.is_authenticated %}
                    <div class="row border-bottom">
    	                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    	                <div class="navbar-header">
    	                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
    <!-- 	                    <form role="search" class="navbar-form-custom" action="search_results.html">
    	                        <div class="form-group">
    	                            <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
    	                        </div>
    	                    </form> -->
    	                </div>
    	                    {% include 'dashboard/includes/notifications.html' %}
    	                </nav>
    	            </div>
                {% endif %}
	            <div id="wrapper">
	        		{% block content %}
	        		{% endblock %}
	        		<div class="footer">
				        <div>
				            <strong>Copyright</strong> Projeto &copy; 2016
				        </div>
				    </div>
	        	</div>
        	</div>
        </main>

    </div>
    
   {% include 'dashboard/includes/footer.html' %}
</body>
</html>
